.contact {
    position: relative;
    background-color: $green;
    padding: 90px 0 70px 0;
    @media (max-width: $md2+px){
        padding: 70px 0 60px 0;
    }
    @media (max-width: 600px){
        padding: 60px 0;
    }
    &__content {
        position: relative;
        z-index: 2;
        
    }
    &__body{
        @media (min-width: 600px){
            display: flex;
            margin: 0 -50px;
            @media (max-width: $md2+px){
                margin: 0 -20px;
            }           
        }

    }
    &__form {
        @media (min-width: 600px){
            flex: 0 0 50%;
            padding: 0 50px;
            @media (max-width: $md2+px){
                padding: 0 20px;
            }    
        }
        @media (max-width: 600px){
           margin: 0px 0px 20px 0px;
        }
    }

    &__title {
        font-family: "MyriadPro", sans-serif;
        font-size: 36px;
        font-weight: 700;
        margin: 0px 0px 20px 0px;
        @media (max-width: $md2+px){
            font-size: 34px;
            margin: 0px 0px 10px 0px;
        }
        @media (max-width: $md3+px){
            font-size: 32px;
        }
    }

    &__social {
        @media (min-width: 600px){
            flex: 0 0 50%;
            padding: 0 50px;
            @media (max-width: $md2+px){
                padding: 0 20px;
            }    
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    
    }
}

.form-contact {

    &__form {
    }

    &__input {
        margin: 0px 0px 25px 0px;
        width: 100%;
        height: 48px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white;
        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0 15px;
            background: transparent;
            color: $green;
            font-family: "MyriadPro", sans-serif;
            font-size: 16px;
            &::placeholder{
                color: $green;
                font-family: "MyriadPro", sans-serif;
                font-size: 16px;
            }
        }
        @media (max-width: $md2+px){
            margin: 0px 0px 15px 0px;
        }
    }

    &__textarea {
        margin: 0px 0px 25px 0px;
        width: 100%;
        height: 192px;
        background: $white;
        position: relative;
        textarea{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px 15px;
            background: transparent;
            color: $green;
            font-family: "MyriadPro", sans-serif;
            font-size: 16px;
            &::placeholder{
                color: $green;
                font-family: "MyriadPro", sans-serif;
                font-size: 16px;
            }
        }
        @media (max-width: $md2+px){
            margin: 0px 0px 15px 0px;
        }
    }

    &__btn {
        background: #000;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 90px;
        color: $white;
        font-family: "MyriadPro", sans-serif;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        transition: all .3s ease-in-out;
        @media (min-width: 992px){
           &:hover{
           background: transparent;
         }
        }
        @media (max-width: $md3+px){
            padding: 0 70px;
        }
    }
}
.social-contact {

    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0px 0px 25px 0px;
        &:last-child{
          margin: 0px 0px 0px 0px;
        }
        img{
            width: 49px;
            height: 49px;
            object-fit: contain;
            margin: 0px 20px 0px 0px;
        }
        span{
            font-size: 24px;
            color: $white;
            font-family: "MyriadPro", sans-serif;
            position: relative;
             &:before{
                content: '';
                width: 0%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: $white;
                height: 2px;
                transition: all .3s ease-in-out;
            }
        }
        @media (min-width: 992px){
           &:hover{
           span{
                 &:before{
                    width: 100%;
                }
           }
         }
        }
        @media (max-width: $md3+px){
            margin: 0px 0px 15px 0px;
        }
    }
}
